@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de reseteo de contraseña.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor revisa tu correo para reestablecer tu contraseña.
</p>

